* text=auto eol=lf

*.sh text eol=lf
*.start text eol=lf
*.conf text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
cmdline.txt text eol=lf
config.txt text eol=lf
usercfg.txt text eol=lf

*.so binary
*.bin binary
*.dtb binary
*.dtbo binary
*.elf binary
*.exe binary
*.wav binary
*.tar.gz binary
*.zip binary
